backup*/
Debug/
ipch/
perf_report/
x64/
Release/
ToOther/
TestResults/
x64/
nurikabe/Debug
nurikabe/Release
nurikabe/ToOther
nurikabe/x64
nurikabe/ReadMe.txt
nurikabe.psess
nurikabe.sdf
nurikabe.sln
nurikabe.opensdf
nurikabe.v11.suo
